* {
    box-sizing: border-box;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fce9db;
}

@font-face {
    font-family: Essays1743;
    src: url('fonts/Essays1743.woff');
}

header {
    background-color: #0d3f40;
    color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    position: relative;
}

#hamburger {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
}

#close-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
}

header h2 {
    margin: 0;
    font-family: Essays1743, serif;
    z-index: 1;
}

#dhq-home {
    cursor: pointer;
}

.menu-label {
    font-weight: bold;
    color: #FFFFFF;
    text-align: right;
}

.menu-content {
    font-weight: bold;
    padding: 0 0 0 50px;
}

.menu-content ul {
    list-style-type: none;
    padding: 0 0 0 50px;
    color: #FFFFFF;
    text-align: right;
    cursor: pointer;
}

.about {
    margin: 20px auto;
    padding: 0 20px 20px 20px;
    text-align: justify;
    max-width: 1000px;
}

.about ul {
    margin: 20px;
}

.about-content img {
    width: 100%;
    height: auto;
}

.quote-text {
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    font-style: italic;
}

.quote-ref {
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    color: #555555;
}

.speedsmaps,
.speedsmapm, 
.speedsmapl {
    width: 100vw;
    border-style: none;  
}

.banner {
    position: relative;
}

.banner-images {
    position: relative;
    z-index: 1;
}

.banner-overlay {
    position: absolute;
    top: 20px; 
    left: 20px; 
    background-color: #ffffff;
    z-index: 2;
    width: 250px;
    height: 190px;
    padding: 15px;
}

.banner-overlay h3 {
    color: #0d3f40;
    margin: 0;
}

#go-to-about-from-main {
    color: #555555;
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}

.inactive {
    display: none;
} 


.modal {
    display: none; 
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-header h3 {
    text-align: center;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border-color: #f9703c;
    border-radius: 5px;
    border-style: solid;
    width: 60%; 
    text-align: center;
}

#close-modal {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}



main {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

.numquiz {
    margin: 20px 0;
    padding: 0 10px 10px 10px;
    background-color: rgba(249,112,60,0.3);
    border-radius: 5px;
    border-style: solid;
    border-color: #f9703c;
}

.numquiz h3 {
    text-align: center;
}

.numquiz button {
    background-color: #f9703c;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 10px auto;
}

.numquiz img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.numquestions {
    margin: 30px;
}

.numresults {
    margin: 10px;
}

.results-list {
    margin: 30px;
    text-align: justify;
}

.picquiz {
    margin: 20px 0;
    padding: 0 10px 10px 10px;
    background-color: rgba(247,147,6,0.3);
    border-radius: 5px;
    border-style: solid;
    border-color: #f7a706;
}

.picquiz-start {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.questions img {
    width: 100%;
    height: auto;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
}

.questions h4 {
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
}

.questions p {
    width: 95%;
    margin: 30px auto;
    text-align: center;
}


.questions img {
    width: 90%;
    height: auto;
    border-radius: 5px;
}



.picquiz h3 {
    text-align: center;
}

.picquiz li {
    list-style-type: none;
}

.picquiz button {
    background-color: #f7a706;
    color: #333333;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 10px auto;
}

.mapquiz {
    margin: 20px 0;
    padding: 0 10px 10px 10px;
    background-color: rgba(74,124,115,0.3);
    border-radius: 5px;
    border-style: solid;
    border-color: #4a7c73;
}

.mapquiz h3 {
    text-align: center;
}

#close-map-modal {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

  
.map-modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border-color: #4a7c73;
    border-radius: 5px;
    border-style: solid;
    width: 60%; 
    text-align: center;
}

#map-modal-text {
    margin: 10px auto;
}

#map-modal-text h3 {
    text-align: center;
    margin: 20px 10px;
}

.map-modal {
    display: none; 
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.numquiz-start-content,
.quiz-start-content,
.mapquiz-start-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(249px, 1fr));
    grid-gap: 25px;
    margin: 20px auto;
    text-align: justify;
    align-items: center;
}


.mapquiz-start-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.mapquiz button {
    background-color: #4a7c73;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
}

#mapstart {
    margin: 0px auto 10px auto;
    display: block;
}

.map-instructions {
    width: 95%;
    margin: 30px auto 10px auto;
    text-align: center;
}

.results-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-learn-more h4 {
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
}

.map-learn-more p {
    width: 95%;
    margin: 30px auto;
    text-align: justify;
}

.map-learn-more img {
    width: 95%;
    margin: auto;
}

.map-learn-more button {
    margin: 30px auto;
    display: block;
}

.speeds-map-quiz {
    width: 265px;
    height: 353px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 5% 15% 27% 19% 1% 17% 16%;
    grid-template-rows: 14% 9% 22% 15% 14% 13% 13%;
}

.speeds-map-quiz svg {
    z-index: 1;
    grid-column: 1 / 8;
    grid-row: 1 / 8;
}

.mapanswer1 {
    z-index: 3; 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
}

.mapanswer2 {
    z-index: 3; 
    grid-column: 6 / 7;
    grid-row: 4 / 5;
    width: 100%;
    height: auto;
}

.mapanswer3 {
    z-index: 3; 
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    width: 100%;
    height: auto;
}

.speedfull {
    display: block;
    margin: auto;
}

footer {
    background-color: #0d3f40;
    font-size: small;
    color: #FFFFFF;
    line-height: 1.5;
    width: 100%;
    padding: 20px;
}

.foot-contact {
    text-align: center;
}

.foot-contact a {
    text-decoration: underline;
    color: #FFFFFF;
}

.copy {
    display: flex;
    justify-content: center;
    font-size:x-small;
}

.copy p {
    margin: 0;
}

@media (max-width: 350px) {

    .speeds-map-quiz {
        width: 249px;
        height: 331px;
        margin: 20px auto;
    }

    .map-modal-content {
        width: 80%; 
    }

    .speedsmaps {
        display: block;
    }

    .speedsmapm {
        display: none;
    }

    .speedsmapl {
        display: none;
    }
}

@media (min-width: 350px) {

    .speedsmaps {
        display: block;
    }

    .speedsmapm {
        display: none;
    }

    .speedsmapl {
        display: none;
    }

}

@media (min-width: 768px) {

    .numquiz-start-content,
    .quiz-start-content,
    .mapquiz-start-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        padding: 25px;
        margin: 10px;
        text-align: justify;
        align-items: center;
    }

    .numresults {
        margin: 30px;
    }

    .about-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 50px;
        padding: 25px;
        text-align: justify;
    }
    
    .about-article p {
        margin-block-start: 0px;
        margin-block-end: 20px;
    }

    .speeds-map-quiz {
        width: 526px;
        height: 700px;
        margin: 20px auto;
    }

    .map-modal-content {
        width: 50%; 
    }
    
    .speedsmaps {
        display: none;
    }

    .speedsmapm {
        display: block;
    }

    .speedsmapl {
        display: none;
    }

}

@media (min-width: 1024px) {

    .speeds-map-quiz {
        width: 578px;
        height: 770px;
        margin: 20px auto;
    }

    .numquiz-start-content,
    .quiz-start-content,
    .mapquiz-start-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        padding: 25px;
        margin: 10px;
        text-align: justify;
        align-items: center;
    }

    .about-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 50px;
        padding: 25px;
        text-align: justify;
    }
    
    .about-article p {
        margin-block-start: 0px;
        margin-block-end: 20px;
    }

    .numresults {
        margin: 30px;
    }

    .numquiz-start,
    .quiz-start,
    .mapquiz-start {
        font-size: large;
    }

    .questions img {
        width: 80%;
    }

    .speedsmaps {
        display: none;
    }

    .speedsmapm {
        display: none;
    }

    .speedsmapl {
        display: block;
    }
}